/* GERAL  */

body {
    width: 100%;
    background-color: rgba(17, 16, 16, 0.925);
    font-family: 'Ubuntu', Sans-Serif;
    overflow: hidden;
}


/* BACKGROUND IMAGEM */

.bg-galaxy {
    width: 440px;
    height: 638px;
    /* position: relative; */
}


/* IMAGEM DO USUÁRIO */

.user-img {
    position: absolute;
    width: 220px;
    margin: 115px -115px;
    border-radius: 110px;
    box-shadow: 1px 0px 20px black;
}


/* MENU DE NAVEGAÇÃO */

.menu-nav {
    position: absolute;
    width: 100%;
}

.menu-nav ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 570px;
    padding-top: 10px;
}

.menu-nav li,
a {
    color: white;
    font-weight: bold;
    list-style: none;
    text-decoration: none;
    padding-bottom: 3px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.menu-nav a:hover,
a.active {
    border-bottom: 2px solid #fff;
    color: #43a4e9;
}


/* LOGOTIPO */

.logo {
    position: relative;
    width: 95px;
    height: 75px;
    font-size: 75px;
    border: 1px solid #fff;
    border-radius: 10px;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    justify-content: space-between;
    bottom: 890px;
    left: 40px;
}

.logo:hover {
    box-shadow: 0px 2px 3px white;
}


/* SOBRE MIM */

.sobre-mim {
    position: relative;
    width: 460px;
    height: 290px;
    left: 670px;
    bottom: 498px;
    text-align: justify;
}

.sobre-mim h1 {
    color: #43a4e9;
    font-size: 30px;
    border-bottom: 2px solid #fff;
    padding-bottom: 10px;
    line-height: 30px;
}

.sobre-mim p {
    font-size: 23px;
    padding: 10px 0px 10px 0px;
    color: #fff;
    line-height: 30px;
}

.sobre-mim p em {
    font-style: oblique;
}

.sobre-mim p u:hover {
    color: #43a4e9;
}

.sobre-mim a {
    color: #43a4e9;
    text-transform: lowercase;
}

.sobre-mim a:hover {
    font-style: italic;
}


/* ICONES REDES SOCIAIS */

.icon-section {
    width: 310px;
    height: 52px;
    position: absolute;
    left: 65px;
    top: 535px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* RODAPÉ  */

footer {
    width: 100%;
    color: #fff;
    text-align: center;
    margin-top: -389px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}